.container {
    display : flex;
    flex-flow: column;
    gap : 1em;
}

.teams-title {
    position: sticky;
    top: 0px;
    z-index: 9999;
    text-align: center;
    background-color: white;
    padding-bottom: 1px;
    margin-left:5.2%;
    margin-right:5.3%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.create-team-button {
    text-align: center;
}