.button-menu {
    display : flex;
    flex-flow :row;
    justify-content: space-around;
    column-gap: 5%;
}

.search-wrapper {
    display:flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 9999;
    background-color: white;
    margin-left: 62px;
    margin-right: 62px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}