.team-list-style {
    display: flex;
    flex-flow: row;
}

.team-name {
    /* margin-left: 6%; */
    font-size: 2em
}

.team-name-container {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 1%;
    margin-left: 5%
}

.rename-button {
align-self: center;
}