/* * {
  border : black 1px solid;  
} */

.analysis-teams-title {
    /* position: sticky;
    top: 0px;
    z-index: 100; */
    text-align: center;
    background-color: white;
    padding-bottom: 1px;
    margin-left: 5.2%;
    margin-right: 5.3%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.analyze-team-isAnalyzed-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}


.analyze-team-isAnalyzed-style:hover {
    cursor: pointer;
    box-shadow: 0 10px 16px 0 rgb(67, 67, 67);
}

.analysis-stat-body {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    font-size: .70em;
}