.analyze-team-style {
    display: flex;
    flex-flow: row;
    border-radius: 5px;
}


.analyze-team-style:hover {
    cursor: pointer;
    box-shadow: 0 10px 16px 0 rgb(67, 67, 67);
}

.analyze-team-name {
    margin-left: 6%;
}