.about-page-title {
    text-align: center;
}


.about-page-style-container {
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

.paragraph {
    display: flex;
    flex-flow: row wrap;
    margin: 5%;
    margin-left:10%;
    margin-right:10%;
}

.about-page-login-button {
text-align: center;
}

